/* WIP: Only desktop is supported */

/* ============================================
   MOBILE: Hidden on small screens
   ============================================ */
.container {
    display: none;
}

/* ============================================
   DESKTOP
   ============================================ */
@media (width >= 64rem /* 1024px */) {
    /* ------------------------------------------
     LAYOUT: Container & List Structure
     ------------------------------------------ */
    .container {
        flex-shrink: 0;

        position: sticky;
        top: 0;
        height: 100vh;

        width: var(--sidebar-width);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-block: calc(7 * var(--spacing));
        background: var(--color-foreground);
        color: var(--color-on-dark);
        border-radius: 0 var(--radius-2xl) var(--radius-2xl) 0;
        overflow-y: auto;
        overflow-x: hidden;
        transition: width 500ms ease-in-out;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: calc(1 * var(--spacing));
        padding-block: calc(20 * var(--spacing));
    }

    /* ------------------------------------------
     LOGO: Heading & Text
     ------------------------------------------ */
    .container h2 span {
        transition: opacity;
        transition-duration: 500ms;
        transition-delay: 100ms;
    }

    /* ------------------------------------------
     COLLAPSE BUTTON: Toggle Control
     ------------------------------------------ */
    .collapseButton {
        display: flex;
        gap: calc(5 * var(--spacing));
        padding-block: calc(3 * var(--spacing));
        padding-inline: calc(7 * var(--spacing)) 0;
        opacity: 0.8;
        cursor: pointer;
    }

    .collapseButton:hover {
        opacity: 1;
    }

    /* ------------------------------------------
     COLLAPSED STATE: All width/spacing overrides
     ------------------------------------------ */
    /* Handle collapsed state */
    .container[data-nav-collapsed="true"] {
        min-width: 0;
        width: var(--sidebar-width-icon);

        h2 span:not(.logo) {
            opacity: 0;
            transition-delay: 0ms; /* No delay when hiding */
        }

        .collapseButton svg {
            transform: rotate(180deg);
        }
    }
}

/* Dumb selector to handle reduced motion, shall be improved */
@media (prefers-reduced-motion: reduce) {
    .container,
    .container * {
        transition: none !important;
    }
}
