/* ============================================
    MOBILE
   ============================================ */
/* ------------------------------------------
     LAYOUT: Container & List Structure
     ------------------------------------------ */
.container {
    flex-shrink: 0;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    gap: calc(2 * var(--spacing));
    padding-top: calc(2 * var(--spacing));
    background: var(--color-foreground);
    color: var(--color-on-dark);
    border-radius: var(--radius-2xl) var(--radius-2xl) 0 0;
    overflow: hidden;
}

.list {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: calc(4 * var(--spacing));
    padding-inline: calc(8 * var(--spacing));

    & > li {
        flex: 1;
        max-width: 80px;
    }
}

@media (width >= 48rem) {
    .list {
        padding-inline: calc(16 * var(--spacing));

        & > li {
            flex: 1;
            max-width: 100%;
        }
    }
}

/* ============================================
   DESKTOP: Hidden on bigger screens
   ============================================ */
@media (width >= 64rem /* 1024px */) {
    .container {
        display: none;
    }
}

/* ------------------------------------------
    ANIMATION
------------------------------------------ */
/* Dumb selector to handle reduced motion, shall be improved */
@media (prefers-reduced-motion: reduce) {
    .container,
    .container * {
        transition: none !important;
    }
}
