.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-6);
}

.chartWrapper {
  position: relative;
  flex: 1;
  max-width: calc(80 * var(--spacing));
}

.summaryWrapper {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  /* Enables container-based fluid typography */
  container-type: inline-size;
}

.summary {
  text-align: center;
}

.summaryTotal {
  /* Fallback for browser not supporting container-based sizes */
  font-size: var(--text-2xl);
  font-family: var(--font-mono);
  font-weight: var(--font-weight-bold);
  padding-bottom: calc(3 * var(--spacing));
}

.summaryLimit {
  /* Fallback for browser not supporting container-based sizes */
  font-size: var(--text-xl);
  color: var(--color-fg-subtle);
}

@supports (width: 1cqi) {
  .summaryTotal {
    font-size: clamp(1rem, 0.4rem + 6cqi, 1.5rem);
  }

  .summaryLimit {
    font-size: clamp(0.875rem, 0.1rem + 5cqi, 1.25rem);
  }
}

.listWrapper {
  flex: none;
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: calc(16 * var(--spacing));
  row-gap: var(--spacing-6);
}

/* Table and Desktop screen */
@media (min-width: 40rem) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    gap: calc(6 * var(--spacing));
  }

  .list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 64rem) {
  .chartWrapper {
    max-width: calc(70 * var(--spacing));
  }
}
