.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-5);
}


.cardAction {
  color: var(--color-fg-subtle);
  text-decoration: none;
  font-size: var(--text-sm);
  cursor: pointer
}

.cardAction:hover {
  color: var(--color-fg);
}

.cardContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
